doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Template · Bootstrap
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    style(type='text/css').
      body {
      padding-top: 20px;
      padding-bottom: 40px;
      }
      /* Custom container */
      .container-narrow {
      margin: 0 auto;
      max-width: 700px;
      }
      .container-narrow > hr {
      margin: 30px 0;
      }
      /* Main marketing message and sign up button */
      .jumbotron {
      margin: 60px 0;
      text-align: center;
      }
      .jumbotron h1 {
      font-size: 72px;
      line-height: 1;
      }
      .jumbotron .btn {
      font-size: 21px;
      padding: 14px 24px;
      }
      /* Supporting marketing content */
      .marketing {
      margin: 60px 0;
      }
      .marketing p + h4 {
      margin-top: 28px;
      }
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
  body
    .container-narrow
      .masthead
        ul.nav.nav-pills.pull-right
          li.active
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Contact
        h3.muted Project name
      hr
      .jumbotron
        h1 Super awesome marketing speak!
        p.lead
          | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        a.btn.btn-large.btn-success(href='#') Sign up today
      hr
      .row-fluid.marketing
        .span6
          h4 Subheading
          p
            | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
          h4 Subheading
          p
            | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
          h4 Subheading
          p Maecenas sed diam eget risus varius blandit sit amet non magna.
        .span6
          h4 Subheading
          p
            | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
          h4 Subheading
          p
            | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
          h4 Subheading
          p Maecenas sed diam eget risus varius blandit sit amet non magna.
      hr
      .footer
        p © Company 2012
  include ../partials/scripts
